body{
    background-color: gray;
}

.navbar-brand{
    margin-left: 20px;
}

#pagina2{
    background-color: lightgrey;
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
}

.subtarjeta{
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    background-color: white;
}

img{
    width: 20%;
}

p{
    font-size: x-large;
}